<!-- {% autoescape off %}

Hi {{user.first_name}},

Please click on below link to reset your password.
http://{{domain}}{% url 'reset_password_validate' uidb64=uid token=token %}

{% endautoescape %} -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <style>

        body{
            background:#F5F8FA;
            font-family:Arial,sans-serif;
        }

        #email{
            width:600px;
            margin:auto;
            background:white;
        }

        .btn{
            background:#C33332;
            color:white !important;
            padding:12px 25px;
            text-decoration:none;
            border-radius:5px;
            display:inline-block;
            font-weight:bold;
        }

    </style>
</head>

<body>

<div id="email">

    <table width="100%">
        <tr>
            <td align="center">
                <img src="https://rathank.appzoneit.com/foodonline/logo/logo.png"
                     width="300">
            </td>
        </tr>
    </table>

    <table width="100%"
           bgcolor="#EAF0F6"
           style="padding:40px;">

        <tr>
            <td>

                <h2 align="center">
                    Reset Your Password
                </h2>

                <p>
                    Hi {{ user.first_name }},
                </p>

                <p>
                    Please click the button below to reset your password.
                </p>

                <div align="center"
                     style="margin-top:30px;">

                    <a href="http://{{ domain }}{% url 'reset_password_validate' uidb64=uid token=token %}"
                       class="btn">

                        Reset Password

                    </a>

                </div>

            </td>
        </tr>

    </table>

    <table width="100%"
           bgcolor="#C33332">

        <tr>
            <td align="center"
                style="padding:20px;color:white;">

                © 2026 FoodOnline Marketplace

            </td>
        </tr>

    </table>

</div>

</body>
</html>

